{{ define "main" }}
    {{ $paginator := .Paginate .Data.Pages }}
    
    <main class="posts">
        <h1>{{ .Title }}</h1>
        {{ with .Description }}
            <p class="lead">{{ . | markdownify }}</p>
        {{ end }}

        {{ if .Content }}
            <div class="content">{{ .Content }}</div>
        {{ end }}

        {{ range $paginator.Pages.GroupByDate "2006" }}
            <div class="posts-group">
                <div class="post-year">{{ .Key }}</div>

                <ul class="posts-list">
                    {{ range .Pages }}
                        <li class="post-item">
                            <a href="{{.Permalink}}">
                                <p class="post-title">{{.Title}}</p>
                                {{ with .Description }}
                                    <p class="post-description subtle">{{ . | markdownify }}</p>
                                {{ end }}
                            </a>
                        </li>
                    {{ end }}
                </ul>
            </div>
        {{ end }}
    {{ partial "pagination.html" . }}
    </main>
{{ end }}
